body {
    margin: 0%;
    padding: 0%;
}

.headerBox {
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    display: flex;
}

#mainLogoImg{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#mainLogo {
    height: 30px;
    width: 8%;
    margin-top: 15px;
    
}

#locationSelector {
    height: 60px;
    width: 15%;
    /* background-color: yellow; */
    margin-left: 20px;
}

#locationSelectorAnchor{
    text-decoration: none;
}

#locationDotIcon {
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 10px;
}

#delivering {
    position: relative;
    bottom: 30px;
    left: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: rgb(178, 178, 178);
}

#update {
    position: relative;
    bottom: 60px;
    left: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: white;
}


#searchBar{
    height: 50px;
    width: 48%;
    /* background-color: yellow; */
    margin-top: 5px;
}

#selectionDropdown {
    height: 90%;
    width: 60px;
    position: relative;
    top: 2px;
    left: 4px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(214, 214, 214);
    
}


#searchBarArea {
    height: 40px;
    width: 600px;
    resize: none;
    position: relative;
    top:2.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
    
}

#searchButton {
    height: 46px;
    width: 55px;
    position: relative;
    right: 4px;
    top: 2px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    font-size: 18px;
    border: 1px solid black;
    background-color: rgb(231, 182, 103);
}

#langSelector {
    height: 45px;
    width: 60px;
    /* background-color: yellow; */
    position: relative;
    top: 7px;
    margin-left: 10px;
    margin-top: 2px;
}

#languageButton {
    height: 100%;
    width: 100%;
    padding: 0%;
    display: flex;
    text-decoration: none;
    /* background-color: #0F1111; */
    
}

#indianFlagLogoImg {
    height: 28px;
    width: 22px;
    object-fit: contain;
    
    position: relative;
    top: 7px;
    margin-right: 2px;
    
}

#eng{
    margin: 0%;
    padding: 0%;
    font-size: 14px;
    width: 20px;
    position: relative;
    top: 13px;
    left: 2px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 2px;
}

#angleDownIcon {
    color: rgb(128, 128, 128);
    position: relative;
    top: 15px;
   left: 2px;
}