body {
    margin: 0%;
    padding: 0%;
}

.headerBox {
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    display: flex;
}

#mainLogoImg{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#mainLogo {
    height: 30px;
    width: 8%;
    margin-top: 15px;
    
}

#locationSelector {
    height: 60px;
    width: 15%;
    /* background-color: yellow; */
    margin-left: 20px;
}

#locationSelectorAnchor{
    text-decoration: none;
}

#locationDotIcon {
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 10px;
}

#delivering {
    position: relative;
    bottom: 30px;
    left: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: rgb(178, 178, 178);
}

#update {
    position: relative;
    bottom: 60px;
    left: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: white;
}


#searchBar{
    height: 50px;
    width: 48%;
    /* background-color: yellow; */
    margin-top: 5px;
}

#selectionDropdown {
    height: 90%;
    width: 60px;
    position: relative;
    top: 2px;
    left: 4px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(214, 214, 214);
    
}


#searchBarArea {
    height: 40px;
    width: 580px;
    resize: none;
    position: relative;
    top:2.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
    
}

#searchButton {
    height: 46px;
    width: 55px;
    position: relative;
    right: 4px;
    top: 2px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    font-size: 18px;
    border: 1px solid black;
    background-color: rgb(231, 182, 103);
}

#langSelector {
    height: 45px;
    width: 60px;
    /* background-color: yellow; */
    position: relative;
    top: 7px;
    margin-left: 10px;
    margin-top: 2px;
}

#languageButton {
    height: 100%;
    width: 100%;
    padding: 0%;
    display: flex;
    text-decoration: none;
    /* background-color: #0F1111; */
    
}

#indianFlagLogoImg {
    height: 28px;
    width: 22px;
    object-fit: contain;
    
    position: relative;
    top: 7px;
    margin-right: 2px;
    
}

#eng{
    margin: 0%;
    padding: 0%;
    font-size: 14px;
    width: 20px;
    position: relative;
    top: 13px;
    left: 2px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 2px;
    height: 20px;
}

#angleDownIcon {
    color: rgb(128, 128, 128);
    position: relative;
    top: 15px;
   left: 2px;
}

#login {
    height: 45px;
    width: 150px;
    /* background-color: yellow; */
    margin-left: 20px;

    position: relative;
    top: 8px;
}

#loginButton {
    height: 100%;
    width: 100%;
    text-decoration: none;

}

#helloSignIn {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    top: 5px;
    left: 5px;
    display:inline-block;
    font-weight: 400;
    color: white;
}

#accounts {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    top: 2px;
    left: 5px;
    display: inline-block;
    font-weight:900;
    color: white;
    
}

#angleDownIcon2 {
    position: relative;
    top: 4px;
    left: 3px;
    color: white;
}

#orders {
    height: 45px;
    width: 100px;
    /* background-color: yellow; */
    position: relative;
    top: 8px;
}

#ordersButton {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#returns {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    top: 7px;
    left: 12px;
    font-weight: 400;
    color: white;
}

#andOrders {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    top: 7px;
    left: 12px;
    color: white;
}

#cart {
    height: 45px;
    width: 80px;
    /* background-color: yellow; */
    position: relative;
    top: 8px;
}

#cartButton {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#cartIcon {
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    color: white;
    position: relative;
    top: 7px;
    

}

#cartText {
    margin: 0%;
    padding: 0%;
    display: inline-block;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 9px;
    color: white;
}

#cartCounter {
    margin: 0%;
    padding: 0%;
    font-size: 20px;
    color: orange;
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 14px;
    text-shadow: 0.5px 0.5px 1px black;
}


.extraHeaderBox {
    height: 30px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #1f2121;

    display: flex;
    
}

.extraHeaderBoxItems {
    margin-right: 10px;
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding-top: 5px;
    font-size: 13px;
    color: white;

}

.sliderBox {
    width: 100%;
    height: 615px;
    padding: 0%;
    margin: 0%;
    /* background-color: yellow; */
}

#sliderBoxCard1 {
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}

.footerBox {
    height: 350px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerItemBox {
    height: 300px;
    width: 200px;
    /* background-color: green; */
    margin-top: 0px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.footerHeadings {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
    padding: 0%;
}

.footerBoxItems {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.footerLogoBox {
    width: 100%;
    height: 65px;
    background-color: #232F3E;
    display: flex;
    justify-content: center;
}

.footerLogoBoxItems {
    height: 50px;
    width: 100px;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    position: relative;
    top: 15px;
    margin-left: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#footerLogoBoxLogoImg {
    height: 50px;
    width: 100px;
    object-fit: contain;
    position: relative;
    bottom: 8px;
    right: 20px;
}

.lowestFooter {
    height: 200px;
    width: 100%;
    background-color: #131A22;
    margin: 0%;
    padding: 0%;
    /* display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center; */
}

.lowestFooterContainer {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.lowestFooterRow {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.lowestFooterRow1Items {
    text-decoration: none;
    color: white;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.lowestFooterRow2Items {
    text-decoration: none;
    color: white;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.lowestFooterRow3Items {
    text-decoration: none;
    color: white;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.lowestFooterRow4Items {
    text-decoration: none;
    color: white;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.subheadingsLowestFooter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: 10px;
    padding: 0%;
    margin: 0%;
}